---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1><a href="{{ absolute_url }}/">Chen Cheng</a></h1>

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">www.chencheng.me/cv/</a>.</small>

<div class="header-columns">
  <!-- <div>
    <p>
      I am seeking a Ph.D. position in HAI<br/>
    </p>
  </div> -->
  <div>
    <p class="right-align">
      <a href="{{ absolute_url }}/">https://www.chencheng.me</a><br/>
      <a href="mailto:ischen.cheng@gmail.com">ischen.cheng@gmail.com</a><br/>
      <a href="https://twitter.com/IsChenCheng">@chencheng</a><br/>
    </p>
  </div>
</div>


<h2>Research Interest</h2>

<p>
  To facilitate a deeper understanding and more efficient communication of information across various interfaces, my research focuses on the synergy between different information modules, particularly in the realms of AI and human-AI interactions. I am dedicated to exploring the transformation and exchange of information, aiming to align these elements to enhance mutual understanding between diverse modules. My approach integrates techniques from <strong>human-computer interaction</strong>,  <strong>visualization</strong>, and <strong>artificial intelligence</strong> to develop tools and systems that not only improve communication between AI agents but also between humans and AI agents. This work, at the intersection of different disciplines, aims to advance our capacity to interpret, manage, and utilize complex data streams in a variety of contexts, from everyday interactions to sophisticated data analysis.
</p>


<h2>Educational Background</h2>

{% for ed in site.data.education %}
<article>
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
</article>
{% endfor %}

<h2>Research Experience</h2>

{% for research in site.data.researches %}
<article>
  <div class="date-container">
    <span class="date">{{ research.timeframe | replace: "-", "–" }}</span>
    <strong class="fill">{{ research.name }}</strong>
    <span class="right">{{ research.location }}</span>
  </div>
  <p> {{ research.lab }} &nbsp;|&nbsp; {{ research.advisor }} &nbsp;|&nbsp; {{ research.university }}</p>
  <ul style="list-style-type: disc;">
    {% for des in research.description %}
      <li>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</li>
    {% endfor %}
  </ul>
</article>
{% endfor %}





<h2>Publications <a href="{{ '/publications/' | absolute_url }}">[Interactive Version]</a></h2>

{% assign sorted_pubs = site.publications | reverse %}

{% assign types = "Conference|Journal" | split: "|" %}
{% for type in types %}
  {% assign counter = 1 %}
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}

  <h3 class="pub-type">
    {{ type }}
  </h3>

  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | minus: 1 %}
      <article class="pub">
        <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
        <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{%endif%}</strong>
        <div>
          {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}.

          {% if pub.link or pub.pdf or pub.video or pub.blog or pub.slides or pub.doi %}
            <div class="extra-links">
            {% if pub.pdf %}
              <a href="{{ pub.pdf }}">
                <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
              </a>
            {% endif %}
            {% if pub.link %}
              <a href="{{ pub.link }}">
                <i class="fas fa-link" aria-hidden="true"></i> Project
              </a>
            {% endif %}
            {% if pub.blog %}
              <a href="{{ pub.blog }}">
                <i class="fas fa-newspaper" aria-hidden="true"></i> Article
              </a>
            {% endif %}
            {% if pub.video %}
              <a href="{{ pub.video }}">
                <i class="fas fa-film" aria-hidden="true"></i> Video
              </a>
            {% endif %}
            {% if pub.doi %}
              <a href="https://www.doi2bib.org/bib/{{ pub.doi }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv2bibtex.org/?q={{ pub.arxiv | cgi_escape }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% endif %}
            </div>
          {% endif %}

          {% for award in pub.awards %}<strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endfor %}

<h2>Honors & Awards</h2>

{% for award in site.data.awards %}
<article>
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.location }}</span>
  </div>
  {% if award.description %}
  <p class="muted">
    {{ award.description }}
  </p>
  {% endif %}
</article>
{% endfor %}

<h2>Coursework</h2>

{% for coursework in site.data.courseworks %}
<article class="pub">
  <div><strong>{{ coursework.title }}</strong>&nbsp; |&nbsp; {{ coursework.course }}</div>
  <div>{{ coursework.description }}
    <div class="extra-links">
      {% if coursework.code %}
        <a href="{{ coursework.code }}"><i class="fas fa-code" aria-hidden="true"></i> Code</a>
      {% endif %}

      {% if coursework.video %}
        <a href="{{ coursework.video }}"><i class="fas fa-film" aria-hidden="true"></i> Video</a>
      {% endif %}

      {% if project.article %}
        <a href="{{ project.article }}"><i class="fas fa-newspaper" aria-hidden="true"></i>Poster</a>
      {% endif %}

      {% if coursework.paper %}
        <a href="{{ coursework.paper }}"><i class="far fa-file-pdf" aria-hidden="true"></i> PDF</a>
      {% endif %}
    </div>
  </div>
</article>
{% endfor %}





<h2>Service</h2>
<ul>
  <li><strong>Peer Reviewing</strong>
      <sapn>ACM CHI 2023, ACM CSCW 2023</sapn>

  </li>
  <li><strong>Organizing</strong>
      <span>100 Enterprises on Campus</span>
  </li>
</ul>



<h2>References</h2>

<div class="refs">
  <p>
    <strong>Quan Li</strong><br/>
    assistant professor at School of Information Science and Technology<br/>
    <i>ShanghaiTech University</i><br/>
    <a href="https://faculty.sist.shanghaitech.edu.cn/liquan/">faculty.sist.shanghaitech.edu.cn/liquan/</a>
  </p>

  <p>
    <strong>Tianyi Zhang</strong><br/>
    Assistant Professor in Computer Science<br/>
    <i>Purdue University</i><br/>
    <a href="https://www.cs.purdue.edu/people/faculty/tianyi.html">www.cs.purdue.edu/people/faculty/tianyi.html</a>
  </p>


</section>
